body {
  background-color:lightgrey;
}

.container {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.jumbotron {
  padding: 10px;
  margin: 50px;
}

#form {
  text-align: center;
  padding: 10px;
}